<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>把类的实现代码分散到便于管理的数个分类之中.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4976B7A21EF0C2A4000DE0F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4976B7BB1EF0C2A5000DE0F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4976B7C61EF0C2A5000DE0F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
